.loader {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: auto;
	gap: 24px;
}

@media screen and (max-width: 1280px) {
	.loader {
		grid-template-columns: repeat(2, 1fr);
	}
}

.loader > * {
	aspect-ratio: 12/16;
	background: rgb(147, 147, 150);
	background: linear-gradient(
		180deg,
		rgb(222 231 255) 1%,
		rgb(236 241 255) 100%
	);
	border-radius: 16px;
	position: relative;
}
