.card {
	background-color: var(--bg-content);
	min-height: 100vh;
	min-width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 48px;
	margin: 0 auto;
}

.errorNum {
	font-size: 100px;
	color: var(--mantine-color-orange-4);
}

.loginForm {
	width: 400px;
}
