.album {
	position: relative;
	min-height: 240px;
	min-width: 190px;
	max-width: 190px;
	border-radius: 16px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	background-size: cover;
	cursor: pointer;
}

.info {
	min-height: 70px;
	margin-top: auto;
	border-radius: 16px;
	background-color: var(--bg-contrast);
	padding: 16px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 4px;
	color: var(--color-white);
	z-index: 1;
}

.title {
	font-weight: 600;
	font-size: 14px;
	line-height: 1;
}

.title::first-letter {
	text-transform: uppercase;
}

.description {
	color: var(--color-secondary);
	font-size: 11px;
	line-height: 1;
}

.like {
	position: absolute;
	right: 8px;
	top: 8px;
	color: #fff;
	z-index: 1;
}
