.wrap {
	position: relative;
}

.input {
	font-size: 16px;
}

.input input::placeholder {
	color: var(--color-secondary);
}

.clearable input {
	padding-right: 26px !important;
}

.withLeftIcon input::placeholder {
	padding-left: 20px !important;
}

.icon {
	position: absolute;
	top: 50%;
	left: 13px;
	transform: translateY(-50%);
}

.clearIcon {
	position: absolute;
	top: calc(50% + 1px);
	right: 9px;
	transform: translateY(-50%);
	cursor: pointer;
}
