.button {
	border-radius: 13px;
	font-size: 14px;
	font-weight: 600;
	background-color: var(--bg-button);
	color: var(--color-secondary);
	padding: 8px 18px;
	transition: background-color 0.3s, color 0.3s;
}

.button:hover {
	background-color: var(--bg-red);
	color: var(--color-white);
}

.button:disabled,
.button:disabled:hover {
	background-color: #ddd;
	color: #888;
	opacity: 0.5;
}

.violet:hover {
	@apply bg-violet-500;
}

.success:hover {
	@apply bg-green-500;
}

.warning:hover {
	@apply bg-orange-400;
}

.danger:hover {
	@apply bg-red-500;
}
