@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-primary: #3e445d;
	--color-secondary: #9da1bb;

	--color-white: #fff;
	--color-gray: #cccbd3;
	--color-purple: #8b4ddc;
	--color-red: #f25768;

	--bg-body: #c0d2fc;
	--bg-content: #ecf1ff;
	--bg-profile: #fff;
	--bg-contrast: #303650;
	--bg-button: #e0e9ff;

	--bg-star: #ffc431;
	--bg-purple: #8847da;
	--bg-red: #f25768;
}

* {
	box-sizing: border-box;
}

body {
	min-width: 100vw;
	min-height: 100vh;
	background-color: var(--bg-body);
	color: var(--color-primary);
	padding: 72px 88px;
	font-family: var(--font-montserrat);
}

.custom-font-sans {
	font-family: system-ui, Helvetica, Arial, sans-serif;
}

.body__section {
	max-width: 1440px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: minmax(0, 1fr) 400px;
	border-radius: 16px;
	height: 100%;
}

/* @layer utilities {

} */
