.title {
	font-weight: 500;
	font-size: 14px;
}

.title::first-letter {
	text-transform: uppercase !important;
}

.text {
	color: var(--color-secondary);
	font-size: 11px;
}

.skeleton::after {
	background-color: #303650;
}
