.posts {
	row-gap: 0;
}

.post {
	padding: 12px;
	border-top-left-radius: 16px;
	border-bottom-left-radius: 16px;
	transition: padding 0.1s;
	cursor: pointer;
	margin-left: -12px;
	position: relative;
	margin-right: -48px;
}

.post:hover {
	color: var(--color-white);
	background-color: var(--bg-contrast);
	transition: background-color 0.1s, padding 0.1s;
}

.postBody {
	margin-right: 48px;
}

.title {
	font-weight: 600;
	font-size: 14px;
}

.text {
	color: var(--color-secondary);
	font-size: 11px;
}

.like {
	position: absolute;
	top: 8px;
	right: 16px;
}
