.album {
	min-width: 120px;
	max-width: 120px;
	cursor: pointer;
	flex: 1;
}

.albumImage {
	border-radius: 16px;
	background-color: antiquewhite;
	aspect-ratio: 10/12;
	position: relative;
}

.title {
	font-weight: 600;
	font-size: 14px;
}

.subtitle {
	font-size: 11px;
	color: var(--color-secondary);
}

.like {
	right: 8px;
	top: 8px;
	position: absolute;
}
