.card {
	padding: 40px 46px;
	background-color: var(--bg-profile);
	overflow-x: hidden;
	overflow-y: auto;
}

.avatar {
	margin-left: auto;
	position: relative;
	background-color: var(--bg-contrast);
	cursor: pointer;
}

.avatar > span {
	color: var(--color-gray);
}

.badge {
	background-color: var(--bg-red);
}

.badge > span {
	color: var(--color-white);
	font-weight: 500;
}

.info {
	font-weight: 600;
	font-size: 15px;
}
