.wrap {
	position: relative;
}

.withPlaceholderIcon input::placeholder {
	padding-left: 20px !important;
}

.placeholderIcon {
	position: absolute;
	top: 50%;
	left: 13px;
	transform: translateY(-50%);
}
