input,
.mantine-Input-input {
	font-weight: 500;
	font-size: 16px;
	--input-bd: var(--border-color);
	--input-bd-focus: var(--border-color);
}

input::placeholder {
	color: var(--color-secondary);
}
.mantine-Input-wrapper:has(.mantine-Input-section:hover) > .mantine-Input-input,
.mantine-Input-wrapper:has(input:hover) > .mantine-Input-input,
.mantine-Input-wrapper:has(input:focus) > .mantine-Input-input {
	outline: none;
	box-shadow: 0 0 7px #ddd;
}

.mantine-Input-input:has(input[data-no-border="true"]),
input[data-no-border="true"] {
	border: 1px solid transparent !important;
}

.mantine-Input-input:has(input[data-no-shadow="true"]),
input[data-no-shadow="true"],
input[data-no-shadow="true"]:hover {
	box-shadow: none !important;
}

.mantine-Input-wrapper {
	position: relative;
	--input-height-xs: calc(24px * var(--mantine-scale));
	--input-height-sm: calc(32px * var(--mantine-scale));
	--input-height-md: calc(40px * var(--mantine-scale));
	--input-height-lg: calc(48px * var(--mantine-scale));
	--input-height-xl: calc(56px * var(--mantine-scale));
}
