input,
.mantine-Input-input {
	padding: 13px;
	font-weight: 500;
	font-size: 16px;
	border: 1px solid var(--border-color);
}

input::placeholder {
	color: var(--color-secondary);
}

input:hover,
input:focus,
input:focus-visible,
.mantine-Input-input:hover,
.mantine-Input-wrapper:has(.mantine-Input-section:hover) > .mantine-Input-input,
.mantine-Input-input:has(input:hover),
.mantine-Input-input:has(input:focus) {
	outline: none;
	box-shadow: 0 0 7px #ddd;
}

.mantine-Input-input:has(input[data-no-border]),
input[data-no-border] {
	border: none !important;
}

.mantine-Input-input:has(input[data-no-shadow]),
input[data-no-shadow],
input[data-no-shadow]:hover {
	box-shadow: none !important;
}

.mantine-Input-wrapper {
	position: relative;
	--input-height-xs: calc(24px * var(--mantine-scale));
	--input-height-sm: calc(32px * var(--mantine-scale));
	--input-height-md: calc(40px * var(--mantine-scale));
	--input-height-lg: calc(48px * var(--mantine-scale));
	--input-height-xl: calc(56px * var(--mantine-scale));
}
